main {
	display: grid;
	gap: 0px 0px;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 0.5fr 1.5fr;
	grid-template-areas:
		"aside article"
		"aside article"
		"aside article";
	grid-auto-flow: row;
}

aside {
	grid-area: aside;
}

article {
	grid-area: article;
}
marquee img {
	border-radius: 0;
	image-rendering: pixelated;
}

#stuff {
	text-align: center;
	padding: 50px;
}

#views {
	display: block;
	text-align: center;
}

.container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 200px;
	text-align: center;
	margin: 10px auto;
}

#commitLink {
	font-size: 12px;
	text-decoration: none;
}

#commitLink > div {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#commitLink > div > div {
	border: 3px dashed var(--van-dyke);
	color: var(--navy-blue);
	background-color: var(--night);
	transition: background-color 1s;
	font-size: 12px;
}

#commitLink > div > div:hover {
	border: 3px dashed var(--navy-blue);
}

#commitLatest {
	font-size: 1.5rem;
}

#shortHash {
	color: var(--van-dyke);
	background-color: var(--tan);
	font-size: 24px;
}

#grid {
	display: inline-flex;
	img {
		height: 150px;
		width: 150px;
		object-fit: cover;
		object-position: top left;
	}
}
