body {
	font-family: Iosevka Etoile, -apple-system, BlinkMacSystemFont, Avenir Next,
		Segoe UI, Roboto, sans-serif;
}

/* heading and subtitle */
h1 {
	font-family: "Fasad", sans-serif;
	letter-spacing: -0.03em;
	font-size: 2.6rem;
	color: var(--lavender-blush);

	&,
	+ p {
		text-align: center;
		text-wrap: balance;
		max-width: 40rem;
		margin: 0 auto .2em;
	}

	+ p {
		font-size: 1.15em;
		font-weight: 300;
		margin-bottom: 2em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Fasad", sans-serif;
}

/* links */
a {
	text-decoration: none;

	/* navigational links */
	nav & {
		font-family: Lemon Milk, sans-serif;
		font-weight: 500;
		color: var(--lavender-blush);
		text-shadow: 1px 1px var(--raisin-black);

		&[aria-current] {
			text-decoration: 2px underline var(--tan);
			text-underline-offset: 8px;
		}
	}
}

/* bulk content */
p,
li {
	color: var(--ash-gray);
	line-height: 1.65;
	strong {
		color: var(--lavender-bush);
	}
}

@font-face {
	font-family: "Lemon Milk";
	src: url(/fonts/LEMONMILK.woff2) format("woff2");
}

@font-face {
	font-family: "Iosevka Etoile";
	src: url(/fonts/IosevkaEtoile.woff2) format("woff2");
}

@font-face {
	font-family: "plexifont";
	src: url(/fonts/plexifont.woff) format("woff2");
}

@font-face {
	font-family: "Gunsan Script";
	src: url(/fonts/gunsan-script.woff2) format("woff2");
}

@font-face {
	font-family: "Gunsan";
	src: url(/fonts/gunsan.woff2) format("woff2");
}

@font-face {
	font-family: "Fasad";
	src: url(/fonts/fasad.ttf) format("truetype");
}
