body {
	font-family:
		"Computer Says No",
		"Iosevka Etoile",
		-apple-system,
		BlinkMacSystemFont,
		Avenir Next,
		Segoe UI,
		Roboto,
		sans-serif;
}

/* heading and subtitle */
h1 {
	letter-spacing: -0.03em;
	font-size: 2.6rem;
	color: var(--lavender-blush);

	&,
	+ p {
		text-align: center;
		text-wrap: balance;
		max-width: 40rem;
		margin: 0 auto 0.2em;
	}

	+ p {
		font-size: 2.25em;
		font-weight: 300;
		margin-bottom: 2em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Mica Valo", sans-serif;
}

/* links */
a {
	text-decoration: none;

	/* navigational links */
	nav & {
		font-family:
			Lemon Milk,
			sans-serif;
		font-weight: 500;
		color: var(--lavender-blush);
		text-shadow: 1px 1px var(--raisin-black);

		&[aria-current] {
			text-decoration: 2px underline var(--tan);
			text-underline-offset: 8px;
		}
	}
}

/* bulk content */
p,
li {
	color: var(--ash-gray);
	line-height: 0.95;
	font-size: 2rem;
	strong {
		color: var(--marker);
	}
}

@font-face {
	font-family: "Lemon Milk";
	src: url(/fonts/LEMONMILK.woff2) format("woff2");
}

@font-face {
	font-family: "Iosevka Etoile";
	src: url(/fonts/IosevkaEtoile.woff2) format("woff2");
}

@font-face {
	font-family: "Computer says no";
	src: url(/fonts/ComputerSaysNo.ttf) format("truetype");
}

@font-face {
	font-family: "Amplitude";
	src: url(/fonts/AmplitudeCondensed.ttf) format("truetype");
}

@font-face {
	font-family: "plexifont";
	src: url(/fonts/plexifont.woff) format("woff2");
}

@font-face {
	font-family: "Mica";
	src: url(/fonts/Mica.woff) format("woff2");
}

@font-face {
	font-family: "Mica Valo";
	src: url(/fonts/MicaValo.otf) format("opentype");
}

@font-face {
	font-family: "Blaster";
	src: url(/fonts/Blaster.otf) format("opentype");
}

@font-face {
	font-family: "Archoblast";
	src: url(/fonts/Archoblast.otf) format("opentype");
}

@font-face {
	font-family: "Gunsan Script";
	src: url(/fonts/gunsan-script.woff2) format("woff2");
}

@font-face {
	font-family: "Gunsan";
	src: url(/fonts/gunsan-regular.woff2) format("woff2");
}

@font-face {
	font-family: "Fasad";
	src: url(/fonts/fasad.ttf) format("truetype");
}
