/* Styling for technical content */
:root {
	--shadow: #313029;
}
h1 {
	padding: 20px 0 0 0;
}

h2 {
	color: var(--ash-gray);
	font-size: 2rem;
}

img {
	max-width: 100%;
	max-height: 500px;
	height: auto;
	margin: 0 auto;
	/* box-shadow: var(--shadow) 0 0 100px -20px; */
	filter: drop-shadow(0 0px 40px var(--shadow));
	border-radius: 4px;
}

header img {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 400px;
	object-fit: cover;
	mask-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.65) 100%
	);
}
.hero-text {
	z-index: 1;
	padding-bottom: 10px;
}
article section {
	border-top: 1px var(--tan) solid;
	/* border-radius: 10px; */
}
article a {
	text-underline-offset: 3px;
	color: var(--tan);
	font-weight: 500;

	&:hover {
		text-decoration-color: var(--ash-gray);
		text-decoration-thickness: 2px;
		color: white;
	}
	h2 {
		text-decoration: underline var(--ash-gray) 1px;
	}
}
p a {
	text-decoration: underline var(--ash-gray) 1px;
}
::marker {
	color: var(--tan);
}

li:not(.gallery li) {
	text-wrap: balance;
	margin-bottom: 0.5rem;
	list-style: hebrew;
}
li p {
	margin: 0;
}

/* syntax highlighted code */
pre {
	--glow-padding: 2em;
	font-size: 105%;
}

/* images and code blocks */
figure {
	text-align: center;
	margin: 2em 0;
}

figcaption {
	margin: auto;
}

blockquote {
	border-left: 5px solid var(--tan);
	text-wrap: balance;
	padding-left: 1.5em;
	margin: 2.5em 0;

	p {
		line-height: 1.5;
		font-size: 120%;
		color: var(--tan);
	}

	strong {
		background-color: var(--marker);
		font-weight: inherit;
		padding: 0.1em 0.2em;
		margin-inline: -0.2em;
	}
}

table,
th,
td {
	border: 1px solid var(--ash-gray);
	border-collapse: collapse;
	padding: 10px;
	font-size: 1.5rem;
}
