#grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 50px 50px;
	grid-template-areas:
		". . ."
		"title title title"
		". . ."
		". . .";

	color: var(--lavender-blush);
	color: white !important;
	/* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important; */
	height: 80vh;
	width: 55vw;
}

#grid figure {
	margin: 0;
	height: 100px;
	width: 100px;
	figcaption {
		opacity: 0;
		transition: opacity 0.3s ease;
		font-size: 1.5rem;
	}
}
#grid figure:hover figcaption {
	opacity: 1;
}

#grid img {
	height: 100px;
	width: 100px;
	object-fit: cover;
	object-position: inherit;
	/* box-shadow: #313029f4 0px 48px 100px 0px; */
	transform: translateZ(0);
}
#title {
	grid-area: title;
	height: 100px;
}

#title h2,
#title h1 {
	font-weight: 900;
	margin: 0;
	display: block;
	font-family: "Blaster", sans-serif;
}
#title h2 {
	font-size: 2em;
}

#title h1 {
	font-size: 4em;
	text-align: left;
}

#contents {
	height: 150px;
	width: 150px;
	p {
		font-size: 20px;
	}
}
